# datasets & artifacts
data/
startkit/data/
output/
.cache/
.mne/

# python & notebooks
**/__pycache__/
**/.ipynb_checkpoints/
*.egg-info/

# editors & env
.vscode/
.env
.venv/

# big/binary
*.log
*.zip
*.pt
*.pth
